@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="jumbotron">
    <h1 class="text-center">Claire Kramer's Portfolio</h1>

    <p class="lead">I have just completed a coding bootcamp through Coding Dojo. I passed all three courses to become a Full-Stack Developer. The courses included Web Fundamentals, Python and C#. To pass I had to complete 3 exams all within 4.5 hours. I completed all with a score in the top 8%. This is a portofolio of some of the projects I built with the knowledge I gained in bootcamp. They are deployed using AWS. I am now actively searching for a job opportunity.</p>
    </div>

    <div class="row center-block">
        <div class="col-sm-6 col-md-6">
            <div class="thumbnail">
                <img src="~/images/brightideas.png">
                <hr>
                <div class="caption">
                    <p>This is an app I wrote that is similar to Facebook. It starts with a Login and Registration. Users post ideas and other users can "like" the post. It is written in C# using Entity Framework.</p>
                    <a href="http://18.217.37.69" target="_blank" class="btn btn-primary" role="button">Visit</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="thumbnail">
                <img src="~/images/wedding.png">
                <hr>
                <div class="caption">
                    <p>This is my Wedding Planner App where Users can plan weddings and RSVP or Decline Invites. Each Wedding has a page with the details of the event. It is written in C# using Entity Framework</p>
                    <a href="http://18.216.105.52" target="_blank" class="btn btn-primary" role="button">Visit</a>
                </div>
            </div>
        </div>
    </div>
    
    <hr>

    <div class="row center-block">
        <div class="col-sm-6 col-md-6">
            <div class="thumbnail">
                <img src="~/images/trips.png">
                <hr>
                <div class="caption">
                    <p>Plan a trip where your friends can join your travel plans. Each trip has its own page where Users can read the details about the trip. It is written in Python with Django.</p>
                    <a href="http://18.221.23.95" target="_blank" class="btn btn-primary" role="button">Visit</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="thumbnail">
                <img src="~/images/courses.png">
                <hr>
                <div class="caption">
                    <p>Add coarses with Descriptions. Written in Python and Django.</p>
                    <a href="http://18.221.17.109" target="_blank" class="btn btn-primary" role="button">Visit</a>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="row center-block">
        <div class="col-sm-6 col-md-6">
            <div class="thumbnail">
                <img src="~/images/appointments.png">
                <hr>
                <div class="caption">
                    <p>An app that with be your personal assistant to book your appointments. Written using Python and Django</p>
                    <a href="http://18.220.146.97" target="_blank" class="btn btn-primary" role="button">Visit</a>
                </div>
        </div>
    </div>
</div>